package main

{{.Imports}}

// Swagger
//
//	@title			{{.P.Title}}
//	@version		1.0
//	@description	{{.P.Description}}
//	@termsOfService	http://cept.gov.in/terms
//	@contact.name	API Support Team
//	@contact.url	http://cept.gov.in/support
//	@contact.email	support_cept@indiapost.gov.in
//	@license.name	Apache 2.0
//	@license.url	http://www.apache.org/licenses/LICENSE-2.0.html
//	@host			localhost{{.P.Addr}}
//	@BasePath		/v1
//	@schemes		http https
func main() {
	app := bootstrapper.New().Options(
		bootstrap.FxHandler,
		bootstrap.FxRepo,
	)
	app.WithContext(context.Background()).Run()
}
